{% if node.override.create.enabled %}
  
  {{ node.override.create.script }}

{% elif node.materializationType == 'table' %}
    {{ stage('Create Stage Table') }}
    CREATE OR REPLACE TABLE {{ ref_no_link(node.location.name, node.name) }}
    (
		{% for col in columns %}
			"{{ col.name }}" {{ col.dataType }}
			{%- if not col.nullable %} NOT NULL
				{%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }}{% endif %}
			{% endif %}
			{%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
			{%- if not loop.last -%}, {% endif %}
		{% endfor %}
    )
    {%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}
{% elif node.materializationType == 'view' %}
    {{ stage('Create Stage View') }}

    CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
    (
        {% for col in columns %}
            "{{ col.name }}"
            {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}

    )
    {%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}
    AS

    WITH 

    {# All columns  that are not hash columns #}

    regular_columns AS (

    {% set source = sources[0] %}
    SELECT
    {% for col in source.columns %}
        {% if not col.hashDetails %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
            {%- if not loop.last -%}, {% endif %}
        {% endif %}
    {% endfor %}

    {{ source.join }}

    ),

    all_columns AS (
        
    {%- set multi_active_key = [] -%}
    {%- set main_hashkey_col = namespace(hk_col='') -%}
    SELECT
    {% for col in source.columns %}
        {#- Print DV hash calculations -#}
        {% if col.hashDetails %}
            {{ DV.datavault4coalesce__hash(columns=col.hashDetails.columns, is_hashdiff=col.is_hd,datatype=col.dataType, algo=DV.datavault4coalesce.config.hash, multi_active_key=multi_active_key, main_hashkey_col=main_hashkey_col.hk_col) }} AS "{{ col.name }}"
        {#- Print other table columns -#}
        {% else %}
            "{{ col.name }}"
        {% endif %}
        {%- if not loop.last -%}, {% endif %}
    {% endfor %}

    FROM regular_columns
    )
    SELECT * FROM all_columns

{% endif %}