{{ stage('Run Stored Procedure') }}
CALL DOUG_DB.PUBLIC.COALESCE_API_RUN_JOB_CHILD(
        job_id => {{config.jobId}}, 
        environment_id => {{parameters.job_environment_id}})

{{ stage('Create something to display') }}
CREATE VIEW IF NOT EXISTS {{this}} AS SELECT 1 RESULT