{{ stage('Check Deploy table') }}

CREATE TABLE IF NOT EXISTS {{this}} (S STRING)

{% if config.SQL_Deploy | length > 0 %}
        
    {{ stage('Run Deploy SQL') }}

    {{ config.SQL_Deploy }}

{% endif %}