{% if config.SQL_Run | length > 0 %}
        
    {{ stage('Run SQL') }}

    {{ config.SQL_Run }}

    {{ stage('Completed') }}

    CREATE OR REPLACE VIEW {{this}} AS SELECT 'Completed' STATE
{% endif %}
