{% if config.truncateBefore %}
{{ stage('Truncate') }}
TRUNCATE IF EXISTS {{ ref_no_link(node.location.name, node.name) }}
{% endif %}

{% for source in sources %}
{{ stage('Insert') }}
INSERT INTO {{ ref_no_link(node.location.name, node.name) }}
SELECT
{% for col in source.columns %}
    {{ get_source_transform(col) }} AS "{{ col.name }}"
    {%- if not loop.last -%}, {% endif %}
{% endfor %}
{{ source.join }}
{% endfor %}
