{% if config.tblTruc %}

    {{ stage('Truncate table') }}

    TRUNCATE TABLE {{this}}

{% endif %}

{{ stage('Run Copy') }}

COPY INTO {{ this }} 
FROM  @{{parameters.stage_location}}.{{ config.fileLocation }}
FILE_FORMAT = (FORMAT_NAME = '{{parameters.stage_location}}.{{ config.fileFormat }}')
{% if config.filePattern != "" %}PATTERN = '{{ config.filePattern}}' {% endif %}
{% if config.mapCol %}MATCH_BY_COLUMN_NAME=CASE_INSENSITIVE {% endif %}