{{ stage('Create View') }}
CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
(
    {%- for col in columns %}
        {%- set descriptionParams = col.description.parameters | default([]) %}
        "{{ col.name }}"
        {%- if descriptionParams and descriptionParams[0] | length > 0 %} COMMENT '{{ descriptionParams[0] | escape }}' {%- endif %}
        {%- if not loop.last -%}, {%- endif %}
    {%- endfor %}
)
{%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}' {%- endif %}
AS
{{ sources[0].cteString }}
SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
{%- for col in sources[0].columns %}
    {{ get_source_transform(col) }} AS "{{ col.name }}"
    {%- if not loop.last -%}, {%- endif %}
{%- endfor %}

{{ sources[0].join }}
