{# == SQL View: Create == #}
{{ stage('Create View') }}
CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
(
    {%- for col in sources[0].columns %}
        "{{ col.name }}"
        {%- if not loop.last -%}, {% endif %}
    {%- endfor %}
)
AS
{{ sources[0].cteString }}
SELECT {%- if config.selectDistinct %} DISTINCT {%- endif %}
{%- for col in sources[0].columns %}
    {{ get_source_transform(col) }} AS "{{ col.name }}"
    {%- if not loop.last -%}, {% endif %}
{%- endfor %}

{{ sources[0].join }}
